body{
  background-color: rgb(169, 224, 226);
}
.App {
  text-align: center;
  color: white;
  font-size: x-large;
}
.App > button {
  font-size:large ;
  padding: 1%;
  border: 2px solid cadetblue;
  border-radius: 7em;
  margin: 2%;
  cursor: pointer;
}

button:hover{
    background-color: cadetblue;
    color: white;
}
